/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

a,
button,
select,
textarea,
input {
    font-family: inherit;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

/* End Reset CSS */

/* CSS APP */
:root {
    --primary-color: #ffe7a0;
    --black-color: #000;
    --white-color: #fff;
    --header-height: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: var(--header-height);
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header_logo>a {
    display: flex;
    align-items: center;
}

.header_logo>a>img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
}

.header_logo>h2 {
    color: #30a2ff;
    font-size: 2rem;
}

.header_search {
    display: flex;
    align-items: center;
    width: 600px;
    height: 100%;
    position: relative;
}

.header_search>input {
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: none;
    padding-left: 8px;
    outline: none;
}

.header_search>i {
    position: absolute;
    font-size: 1.8rem;
    color: #30a2ff;
    right: 10px;
}

.header_user {
    position: relative;
    padding: 0 20px;
}

.header_user>img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.header_user-list:hover,
.header_user>img:hover+.header_user-list {
    display: block;
}

.header_user-list {
    position: absolute;
    top: 40px;
    right: 0;
    width: 180px;
    background-color: #00c4ff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    display: none;
}

.header_user-list::before {
    display: block;
    content: '';
    position: absolute;
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent #00c4ff transparent;
    top: -28%;
    right: 26px;
}

.header_user-list::after {
    display: block;
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    top: -20%;
    left: 0;
    right: 16px;
}

.header_user-item {
    line-height: 3.2rem;
    margin-bottom: 2px;
}

.header_user-item.hidden {
    display: none;
}

.header_user-link {
    font-size: 1.4rem;
    display: block;
    width: 100%;
    line-height: 3.2rem;
    padding: 0 10px;
    color: var(--white-color);
    border-radius: 8px;
}

.header_user-link:hover {
    background-color: #5ed5f9;
}

/* end header */

.container {
    margin-top: 48px;
}

.sidebar {
    width: 20%;
    position: fixed;
    left: 0;
    top: 48px;
    bottom: 0;
    background-color: var(--white-color);
    padding-top: 20px;
    transform: translateX(0);
    transition: all 0.6s linear;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.icon {
    padding: 12px 24px;
}

.icon>i {
    font-size: 2.4rem;
    color: #00c4ff;
    cursor: pointer;
}

.sidebar_list-item {
    line-height: 44px;
    margin: 2px 0;
}

.sidebar_list-link {
    display: flex;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    line-height: 44px;
    font-size: 1.4rem;
    color: #00c4ff;
}

.sidebar_list-link.active {
    background-color: #eff6fc;
}

.sidebar_list-link:hover {
    background-color: #eff6fc;
}

.sidebar_list-link>i {
    font-size: 2rem;
    margin-right: 8px;
}

.content {
    position: fixed;
    background-color: #faf9f8;
    top: 48px;
    left: 20%;
    width: calc(100% - 20%);
    right: 30%;
    height: 100vh;
    padding: 0 24px;
    transition: all 0.6s linear;
}

.content.content-7 {
    width: 70%;
    left: 0;
}

.content.content-10 {
    width: 100%;
    left: 0;
}

.content_title-date {
    display: flex;
    align-items: flex-start;
    padding: 14px 0;
}

.content_title-date-item {
    margin-bottom: 4px;
}

.content_title-date-item>div {
    display: flex;
    align-items: center;
}

.content_title-date-item>div>i {
    font-size: 2.4rem;
    margin-right: 8px;
    color: #00c4ff;
}

#menu_hidden {
    font-size: 2.4rem;
    margin-right: 8px;
    cursor: pointer;
    color: #00c4ff;
}

#menu_hidden.hidden {
    display: none;
}

.content_title-date-item>div>h4 {
    font-size: 2rem;
    line-height: 2rem;
    color: #00c4ff;
}

.content_groud-add {
    background-color: var(--white-color);
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #faf9f8;
}

.content_groud-addd-button {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}

.content_groud-add-tilte {
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content_groud-add-tilte>i {
    font-size: 1.6rem;
    color: #00c4ff;
}

.content_groud-add-tilte>input {
    height: 40px;
    flex: 1;
    margin-left: 10px;
    font-size: 1.6rem;
    border: none;
    outline: none;
}

.content_groud-add-tilte>input::placeholder {
    color: #00c4ff;
    font-size: 1.6rem;
}

.content_groud-addd-button {
    display: flex;
    align-items: center;
    height: 45px;
}

.content_groud-addd-button>div {
    display: flex;
    align-items: center;
}

#add {
    width: 50px;
    height: 32px;
    cursor: pointer;
    color: #999896;
    background-color: #fff;
    border: 1px solid #999896;
    border-radius: 4px;
}

#add:hover {
    background-color: #00c4ff;
    color: #fff;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.content_mytask {
    overflow-y: auto;
    height: calc(100% - 78px - 97px);
    padding-bottom: 80px;
    margin-top: 10px;
}

.content_mytask::-webkit-scrollbar {
    display: none;
}

.content_mytask-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    background-color: var(--white-color);
    margin-top: 8px;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
}

.content_mytask-item-button {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 2;
    border-radius: 4px;
}

.content_mytask-button-item.edit,
.content_mytask-button-item.delete {
    display: flex;
    justify-content: space-between;
    height: 36px;
    align-items: center;
    font-size: 1.4rem;
    color: #000;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
}

.content_mytask-button-item.edit:hover,
.content_mytask-button-item.delete:hover {
    background-color: #faf9f8;
}

.content_mytask-button-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content_mytask-button-item.edit>i {
    font-size: 2rem;
    color: #00c4ff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 10px;
}

.content_mytask-button-item.delete>i {
    font-size: 2rem;
    color: red;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 10px;
}

.important,
#finish-icon {
    font-size: 1.6rem;
    color: #00c4ff;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.noimportant {
    border: none;
    background-color: transparent;
}

.noimportant.hidden,
.important.hidden {
    display: none;
}

.updatefinish,
.not-update-finish {
    display: block;
    padding: 4px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.not-update-finish {
    font-size: 1.6rem;
    color: #00c4ff;
}

.content_mytask-group {
    display: flex;
    align-items: center;
}

.content_mytask-title {
    font-size: 1.4rem;
    color: #292827;
    margin-left: 8px;
}

.content_detail-title,
.content_mytask-overdue-title,
.content_mytask-notcomplate-title,
.content_mytask-complate-title {
    height: 52px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.content_mytask-notcomplate-title>span,
.content_mytask-complate-title>span,
.content_mytask-overdue-title>span,
.content_detail-title>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #00c4ff;
    color: #fff;
    margin-left: 8px;
    font-size: 1.4rem;
}

.content_detail-title>h4,
.content_mytask-overdue-title>h4,
.content_mytask-notcomplate-title>h4,
.content_mytask-complate-title>h4 {
    font-size: 1.4rem;
    margin-left: 8px;
}

.content_mytask-list.hidden,
.content_mytask-overdue-list.hidden,
.content_mytask-compate-list.hidden {
    display: none;
    transform: translateY(-100%);
}

/* detail */
.content-navigation {
    display: flex;
}

.content-navigation-link {
    color: #00c4ff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}

.content-navigation-icon {
    font-size: 2rem;
    color: #00c4ff;
}

.content_decscription {
    height: 80px;
}

.content_description-text {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 1.4rem;
    font-style: italic;
    color: #334155;
    outline: none;
    border-radius: 10px;
}

.content_form {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.content_form-add-taskDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content_form-add-taskDetail-icon {
    font-size: 1.6rem;
    color: #00c4ff;
}

.content_form-add-taskDetail-group {
    flex: 1;
    display: flex;
    align-items: center;
}

.content_form-add-taskDetail-input {
    height: 52px;
    width: 100%;
    margin: 0 10px;
    border: none;
    outline: none;
    font-size: 1.4rem;
}

.content-navigation-icon {
    font-size: 2.4rem;
    color: #00c4ff;
    margin-right: 10px;
}

.btn-submit {
    min-width: 120px;
    height: 40px;
    border: none;
    background-color: #00c4ff;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.content_name {
    margin: 10px 0;
}

.content-name-text {
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    font-size: 2rem;
    padding: 0 10px;
    background-color: transparent;
    color: #00c4ff;
    font-weight: 600;
}

.content-name-text::placeholder {
    color: #00c4ff;
    font-weight: 600;
}

.content_detail-item {
    display: flex;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 16px;
}

.content_detail-item.finish {
    background-color: #bbf7d0;
}

.content_detail-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #334155;
}

.content_detail-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 8px;
    padding: 4px;
    font-size: 1.6rem;
}

.content_detail-item.finish .content_detail-finish {
    display: none;
}

.content_detail-finish {
    color: #00c4ff;
}

.content_detail-delete {
    color: red;
}

/* End detail */

#form-update {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

#form-update.show {
    display: flex;
}

#form-update.hidden {
    display: none;
}

.form-update-btn {
    position: absolute;
    top: 0;
    right: 2px;
    padding: 4px;
    cursor: pointer;
    font-size: 2.4rem;
    color: red;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form-update-dialog {
    width: 400px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    border-radius: 8px;
}

.form-update-title {
    font-size: 2rem;
    color: #00c4ff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.form-update-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.form-update-label {
    width: 25%;
    font-size: 1.6rem;
    color: #00c4ff;
}

.form-update-control {
    width: 75%;
    height: 32px;
    padding-left: 8px;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.form-update-group:nth-child(4) {
    margin-bottom: 6px;
}

.form-update-control:focus {
    outline: #00c4ff;
    border: 2px solid #00c4ff;
}

#form-control-submit {
    width: 120px;
    height: 32px;
    background-color: #00c4ff;
    border: none;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
}

#form-control-submit:hover {
    background-color: #04beed;
}

.form-update-group.form-update-submit {
    margin-bottom: 0;
}

.message {
    display: block;
    font-size: 1.2rem;
    color: red;
    margin-bottom: 8px;
}

/* custom date */
.content_group-date-item {
    margin-right: 16px;
}

.content_group-date-item>label {
    font-size: 1.4rem;
    margin-right: 8px;
}

.content_group-date-item>input {
    height: 32px;
    border: 2px solid transparent;
    border-radius: 4px;
    padding-left: 8px;
    outline: none;
    font-size: 1.4rem;
}

.flatpickr-months .flatpickr-month,
.flatpickr-weekdays {
    background-color: #00c4ff;
}

.flatpickr-current-month .numInputWrapper,
.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background-color: transparent;
}

.flatpickr-day.today {
    border: 2px solid #00c4ff;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background-color: #00c4ff;
    color: var(--primary-color);
    border: 2px solid #00c4ff;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid var(--primary-color);
}

.content-mytask-date-item {
    font-size: 1.4rem;
    margin: 0 4px;
}

.content-mytask-divider {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.content-mytask-date-start {
    color: #00c4ff;
}

.content-mytask-date-end {
    color: #facc15;
}