<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
<div class="content">
    <div class="content_title">
        <div class="content_title-date">
            <i class="fi fi-rr-apps menu hidden" id="menu_hidden"></i>
            <div class="content_title-date-item">
                <div>
                    <i class="fi fi-rr-cloud-sun"></i>
                    <h4>All Tasks</h4>
                </div>
                <div class="content_title-date-detail">
                    <p style="margin: 6px 0 0 2px" id="showDateNow">
                        Thứ 2, ngày 2 tháng 6, năm 2023
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content_group">
        <form class="content_groud-add" action="" method="post" id="form-add-task">
            <div class="content_groud-add-tilte">
                <i class="fi fi-rr-circle"></i>
                <input autocomplete="off" id="input_task" name="name" placeholder="Thêm tác vụ" type="text" />
            </div>
            <div class="content_groud-addd-button">
                <div class="content_group-date">
                    <div class="content_group-date-item content-date-start">
                        <label for="">Ngày bắt đầu: </label>
                        <input type="date" name="date" id="date-start" />
                    </div>
                    <div class="content_group-date-item content-date-end">
                        <label for="">Ngày kết thúc </label>
                        <input type="date" name="date" id="date-end" />
                    </div>
                </div>
                <input type="submit" value="Thêm" id="add" />
            </div>
        </form>
    </div>
    <div class="content_mytask">
        <div class="content_mytask-notcomplate-title">
            <img src="./public/imgs/angle-small-right.png" alt="" />
            <h4>Chưa hoàn thành</h4>
            <span id="countTaskNotFinish"></span>
        </div>
        <div class="content_mytask-list"></div>
        <div class="content_mytask-complate">
            <div class="content_mytask-complate-title">
                <img src="./public/imgs/angle-small-right.png" alt="" />
                <h4>Đã hoàn thành</h4>
                <span id="countTaskFinish"></span>
            </div>
            <div class="content_mytask-compate-list hidden"></div>
        </div>
        <div class="content_mytask-overdue">
            <div class="content_mytask-overdue-title">
                <img src="./public/imgs/angle-small-right.png" alt="" />
                <h4>Quá hạn</h4>
                <span id="countTaskOverdue"></span>
            </div>
            <div class="content_mytask-overdue-list hidden"></div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/static/js/main.js"></script>
<script>
    const startDate = flatpickr('#date-start', {
        enableTime: true,
        dateFormat: 'd-m-Y H:i',
        minDate: 'today',
        time_24hr: true,
        defaultDate: 'today',
        locale: {
            firstDayOfWeek: 1, // start week on Monday
        },
    });
    const endDate = flatpickr('#date-end', {
        enableTime: true,
        dateFormat: 'd-m-Y H:i',
        minDate: 'today',
        time_24hr: true,
        defaultDate: 'today',
        locale: {
            firstDayOfWeek: 1, // start week on Monday
        },
    });

    const listTasksOverdue =
        document.querySelector('.content_mytask-overdue-list') ?? false;
    const buttonShowTasksoverdue =
        document.querySelector('.content_mytask-overdue-title') ??
        false;

    if (buttonShowTasksoverdue) {
        buttonShowTasksoverdue.onclick = () => {
            ShowTaskOverdue();
        };
        function ShowTaskOverdue() {
            listTasksOverdue.classList.toggle('hidden');
        }
    }
</script>