<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/imgs/favicon.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Đăng ký</title>
    <link rel="stylesheet" href="/static/css/loginAndSignup.css">
</head>

<body>
    <main class="app">
        <div class="container">
            <form action="/admin/signup" id="form_signup" method="post">
                <h2 class="form_signup-title">Sign up</h2>
                <div class="form_signup-input username">
                    <label for="firstname" class="form_signup-label">
                        <i class="fi fi-rr-user"></i>
                    </label>
                    <input type="text" class="form_signup-input-item firstname" placeholder="First Name"
                        name="firstname" id="firstname">
                    <input type="text" class="form_signup-input-item lastname" name="lastname" placeholder="Last Name">
                </div>
                <div class="form_signup-input">
                    <label for="account" class="form_signup-label">
                        <i class="fi fi-rr-portrait"></i>
                    </label>
                    <div class="form_signup-group">
                        <input type="text" id="account" class="form_signup-input-item" name="account"
                            placeholder="Nhập vào tên tài khoản">
                        <p class="message"></p>
                    </div>
                </div>
                <div class="form_signup-input">
                    <label for="password" class="form_signup-label">
                        <i class="fi fi-rr-lock"></i>
                    </label>
                    <div class="form_signup-group">
                        <input type="password" id="password" class="form_signup-input-item" name="password"
                            placeholder="Nhập vào password">
                        <p class="message"></p>
                    </div>
                </div>
                <div class="form_signup-input">
                    <label for="repassword" class="form_signup-label">
                        <i class="fi fi-rr-key"></i>
                    </label>
                    <div class="form_signup-group">
                        <input type="password" id="repassword" class="form_signup-input-item" name="repassword"
                            placeholder="Nhập lại password">
                        <p class="message"></p>
                    </div>
                </div>
                <input type="submit" value="Đăng ký" id="form_signup-submit">
            </form>
            <div class="form_img">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    alt="background">
            </div>
        </div>
    </main>
</body>

</html>