<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
<div class="content">
    <%- include('./partials/content_title.ejs') %>
    <%- include('./partials/formAddTask.ejs') %>
    <%- include('./partials/content_myTask.ejs') %>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/static/js/main.js"></script>
<script>
    const startDate = flatpickr('#date-start', {
        enableTime: true,
        dateFormat: 'd-m-Y H:i',
        minDate: 'today',
        time_24hr: true,
        defaultDate: 'today',
        locale: {
            firstDayOfWeek: 1, // start week on Monday
        },
    });
    const endDate = flatpickr('#date-end', {
        enableTime: true,
        dateFormat: 'd-m-Y H:i',
        minDate: 'today',
        time_24hr: true,
        defaultDate: 'today',
        locale: {
            firstDayOfWeek: 1, // start week on Monday
        },
    });

    const listTasksOverdue = document.querySelector('.content_mytask-overdue-list');
    const buttonShowTasksoverdue = document.querySelector('.content_mytask-overdue-title');

    function ShowTaskOverdue() {
        listTasksOverdue.classList.toggle('hidden');
    }
    buttonShowTasksoverdue.onclick = ShowTaskOverdue;
</script>