<div class="content_mytask">
    <div class="content_mytask-notcomplate-title">
        <img src="./static/imgs/angle-small-right.png" alt="" />
        <h4>Chưa hoàn thành</h4>
        <span id="countTaskNotFinish"></span>
    </div>
    <div class="content_mytask-list"></div>
    <div class="content_mytask-complate">
        <div class="content_mytask-complate-title">
            <img src="/static/imgs/angle-small-right.png" alt="" />
            <h4>Đã hoàn thành</h4>
            <span id="countTaskFinish"></span>
        </div>
        <div class="content_mytask-compate-list hidden"></div>
    </div>
    <% if(title != 'tasktoday') { %>
    <div class="content_mytask-overdue">
        <div class="content_mytask-overdue-title">
            <img src="/static/imgs/angle-small-right.png" alt="" />
            <h4>Quá hạn</h4>
            <span id="countTaskOverdue"></span>
        </div>
        <div class="content_mytask-overdue-list hidden"></div>
    </div>
    <% } %>
</div>