<div class="detail">
    <div class="detail_mytask-item content_mytask-item">
        <div class="content_mytask-group">
            <h4 class="detail_mytask-title" onclick="event.stopPropagation()"></h4>
        </div>
        <div title="Đánh dấu công việc quan trọng">
            <button class="important" onclick="important(event)">
                <i class="fi fi-rr-star"></i>
            </button>
            <button class="noimportant hidden" onclick="noImportant(event)">
                <img src="/static/imgs/star.png" />
            </button>
        </div>
    </div>
    <div class="detail_mytask-container">
        <form action="" method="post" id="form_mytask-next">
            <div class="detail-mytask-next">
                <div>
                    <img src="/static/imgs/angle-small-right.png" alt="" />
                    <span>Các công việc tiếp theo</span>
                </div>
                <div class="detail_mytask-next-list">
                    <div class="detail_mytask-next-item">
                        <div class="detail_mytask-next-group">
                            <button class="detail_mytask-btn update-finish">
                                <i class="fi fi-rr-circle"></i>
                            </button>
                            <button class="detail_mytask-btn not-update-finish hidden">
                                <i class="fi fi-rr-check-circle"></i>
                            </button>
                            <h4 class="detail_mytask-next-title">
                                Tên công việc
                            </h4>
                        </div>
                        <button class="detail_mytask-btn delete">
                            <i class="fi fi-rr-cross-small"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="detail_mytask-next-add">
                <i class="fi fi-rr-circle"></i>
                <input type="text" placeholder="add task next" name="task_next" autocomplete="off"
                    id="input_task-next" />
                <button id="detail_task-add">Thêm</button>
            </div>
            <div class="detail_mytask-notes">
                <textarea name="description" id="description" cols="30" rows="10"
                    placeholder="Thêm chú thích"></textarea>
            </div>
            <div class="detail_mytask-save-cancel">
                <input type="reset" class="detail_mytask-cancel" value="Hủy thay đổi" />
                <input type="submit" class="detail_mytask-save" value="Lưu" />
            </div>
        </form>
    </div>
    <div class="detail_mytask-button">
        <i class="fi fi-rr-angle-double-small-right"></i>
        <h3>Đã tạo ngày hôm nay</h3>
        <button class="detail_mytask-button-item">
            <i class="fi fi-rr-trash"></i>
        </button>
    </div>
</div>