<div class="content_group">
    <form class="content_groud-add" action="" method="post" id="form-add-task">
        <div class="content_groud-add-tilte">
            <i class="fi fi-rr-circle"></i>
            <input autocomplete="off" id="input_task" name="name" placeholder="Thêm tác vụ" type="text" />
        </div>
        <div class="content_groud-addd-button">
            <div class="content_group-date">
                <div class="content_group-date-item content-date-start">
                    <label for="">Ngày bắt đầu: </label>
                    <input type="date" name="date" id="date-start" />
                </div>
                <div class="content_group-date-item content-date-end">
                    <label for="">Ngày kết thúc </label>
                    <input type="date" name="date" id="date-end" />
                </div>
            </div>
            <input type="submit" value="Thêm" id="add" />
        </div>
    </form>
</div>