<div id="form-update">
    <form action="" class="form-update-dialog" method="post">
        <h4 class="form-update-title">Sửa công việc</h4>
        <button class="form-update-btn">
            <i class="fi fi-rr-circle-xmark"></i>
        </button>
        <div class="form-update-group">
            <label for="#old-name" class="form-update-label">Tên cũ:
            </label>
            <input type="text" class="form-update-control" id="old-name" readonly disabled />
        </div>
        <div class="form-update-group">
            <label for="#new-name" class="form-update-label">Tên mới:
            </label>
            <input type="text" class="form-update-control" id="new-name" />
            <br />
        </div>
        <span class="message"></span>
        <div class="form-update-group form-update-submit">
            <input type="submit" value="Cập nhật" id="form-control-submit" />
        </div>
    </form>
</div>