<link rel="stylesheet" href="/static/css/style.css">
<header class="header">
    <div class="header_logo">
        <a href="">
            <img src="/static/imgs/to-do-list.png" alt="">
            <h2>ToDo-List</h2>
        </a>
    </div>
    <div class="header_search">
        <input type="text" name="search" placeholder="Tìm kiếm">
        <i class="fi fi-rr-search"></i>
    </div>
    <div class="header_user">
        <img src="/static/imgs/avatar.jpg" alt="">
        <ul class="header_user-list">
            <li class="header_user-item">
                <a href="" class="header_user-link">Tài khoản của tôi</a>
            </li>
            <li class="header_user-item hidden">
                <a href="" class="header_user-link">Đăng Nhập</a>
            </li>
            <li class="header_user-item">
                <a href="" class="header_user-link">Đăng xuất</a>
            </li>
        </ul>
    </div>
</header>